<H1>Library Member Details</H1>
<hr>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @library_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @library_member.email %>
</p>

