
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>



<div class="container">

  <div>
    <p><%=flash.now[:notice]%></p>
  </div>
  <div class="container">

    <!-- Example row of columns -->
    <div class="row" style="width: 50%; float: left">
      <div class="span4">
        <h2>Administrator</h2>
        <p></p>
        <p><a class="btn btn-large btn-success" href="/admin_signin">Sign In</a></p>


      </div>

    </div>

  </div>
</div>
</body>
</html>
