/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.save_button {
    /*min-width: 120px;*/
    width: 140px;
}
