<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This Ruby on Rails Project is a website that simulates a library user's experience.  Anybody can sign up to be a member.  Members can search for books, check out books, and more.  Admins have the ability to 
  add books, add new admins, checkout books for members, etc.  
</p>