<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This project was created by <a href="mailto:jsjain@ncsu.edu" target="_top">Jitendra Jain</a>, <a href="mailto:ndgandh2@ncsu.edu" target="_top">Nisarg Gandhi</a>
  , and <a href="mailto:cnbrown4@ncsu.edu" target="_top">Christine Brown</a>.
</p>